* {
	margin:0;
	padding:0;
}

body {
	display: block;
	z-index: 0;
	margin:0;
	padding:0;
}

div, p, ul, h2, img,li {
	margin:0;
	padding:0;
}

ul {list-style-type:none;}

html, body {
	height:100%;
	margin: 0;
	padding: 0;
	text-align: center;
}



.container {
  width: 905px;
  margin: 0 auto;
  bottom: 0;
  min-height: 480px;
  height: 922px;
  top: 0;
  position: relative;
  text-align: left;
  z-index: 2;
}

#header {
	background: url("/images/_bg_01.jpg") 0 0 repeat-x #f3f5f4;
	z-index: 10;
	font:14px/18px Arial,Helvetica,sans-serif;
	position: relative; 
	width: 100%;
	height: 133px;
	border-bottom: 8px solid #003030;
	box-shadow: -2px 11px 48px -9px black;
}
	
.breite li {
	width: 113.1px;
}

.room li {
	width: 118%;
}

@font-face {
	font-family: "mooter";
	src: url("/fonts/mooter.eot");
	src: url("/fonts/mooter.eot?#iefix") format("embedded-opentype"),
	url("/fonts/mooter.woff") format("woff"),
	url("/fonts/mooter.ttf") format("truetype"),
	url("/fonts/mooter.svg#JournalRegular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "centry";
	src: url("/fonts/centry.eot");
	src: url("/fonts/centry.eot?#iefix") format("embedded-opentype"),
	url("/fonts/centry.woff") format("woff"),
	url("/fonts/centry.ttf") format("truetype"),
	url("/fonts/centry.svg#JournalRegular") format("svg");
	font-weight: normal;
	font-style: normal;
}

#menu {
  display: table;
  width: 100%;
	height: 29px;
}

#nav {
	width: 905px; 
	margin:0 auto; 
	list-style: none;
	z-index: 4;
	text-align: center;
}

#nav li {
	float:left;
	position:relative; 
	display: block;
}

#nav li a {
	display:block;
	text-decoration:none;
	color: #031d1d;
	padding: 4px 0px 4px 1px;
	text-align: center;
	text-transform: lowercase;
	font: 18px  Arial Narrow, Arial,Helvetica,sans-serif;
	font-weight: bold; 
	background: #D2D4B0;
}

#nav li a:hover {
	background: #5d776f;  
	color: #DCE9E2;
} 

#nav ul {
	list-style:none;
	position:absolute;
	left:-9999px; 
	opacity:0;
	-webkit-transition:0.25s linear opacity;
	z-index: 200;
}

#nav ul li {
	padding-top:1px; 
	float:none;
}

#nav li:hover ul { 
	left:0; 
	opacity:1;
}

.main {
	width: 100%px; 	
	padding:0;
	margin:0 auto;
	font-size: 16px;
	line-height:25px;
} 

nav {
	display: block;
}
	
#nav ul a {
  white-space: nowrap;
  display: block;
}

.header_center {
	width: 905px;
	margin: 0 auto;
}

.g1 {
  width: 200px;
  float: left;
  height: 130px;
  text-align: center;	
  padding-left: 43px;
  color: #031d1d;
  font-family: "mooter";
  font-size: 66px;
}

.g1 a {
	width: 96px;
	height: 58px;
	text-align: center;
	padding-top: 55px;
	padding-left: 55px;
	color: #031d1d;
	font-family: "mooter";
	font-size: 66px;
	background: url("/images/embl.jpg") no-repeat;
  background-position: 1px 29px;
}

.g2 {
	width: 632px;
	height: 65px;float: left;
	padding-top: 59px;
	text-align: center;
	font: 34px Arial Narrow, Arial,Helvetica,sans-serif;
	color: #031d1d;
}

#nav ul {
	list-style: none;
	position: absolute;
	left: -9999px;
	opacity: 0;
	-webkit-transition: 0.25s linear opacity;
	z-index: 200;
}

#nav ul li {
	padding-top: 1px;
	padding-left: 27px;
	float: none;
}

#nav li:hover ul a { 
	background:#dcded3;
	text-decoration:none;
	-webkit-transition:-webkit-transform 0.075s linear;
}

#nav li:hover ul li a:hover { 
	background:#333;
	background: rgba(188, 192, 185, 0.75);
	text-decoration:underline;
	-moz-transform:scale(1.05);
	-webkit-transform: scale(1.05);
}

#board img {
	margin-bottom: 18px;
	width: 905px;
}

#us {
	margin: 0 auto;
	width: 100%;
}


#block_a.fon {
	background: #dfdfd4 url("/images/_bg_01.jpg") repeat-x top;
	background-image: lightpink;
	width: 536px;
	height: 499px;
	min-height: 363px;
	float: left;
	margin-right: 15px;
	display: block;
	word-break: break-all;
	clear: both;
	overflow: hidden;
}

h1 a {
	display: block;
	text-decoration: none;
	color: #fefefe;
	padding: 2px 20px 8px;
	font: 18px Arial Narrow, Arial,Helvetica,sans-serif;
	margin-bottom: -18px;
}

#block_b.fon {
	width: 354px;
	height: 498px;
	float: left;
	background: #dfdfd4 url("/images/_bg_01.jpg") repeat-x top;
}

#footer {
	width: 100%;
	height: 96px;
	margin-top: 38px;
	position: relative;
	background: url("/images/footer_min.jpg") repeat-x;
}

#am {
	float: right; 
	width: 40%;
}

h2 {
	display: block;
	width: 123px;
	font-family:  Arial,Helvetica,sans-serif;
	font-size: 18px;
	font-weight: normal;
	height: 31px;
	margin-top: 44px;
}
	
h2 span {
	margin-bottom: 1px;
	display: block;
	border: 1px #555;
	clear:both;
}

h3 span {
	display: block;
	float: right;
	margin-top: 10px;
	margin-right: 28px;
	font-style: italic;
	font-family: 	"centry", Arial,Helvetica,sans-serif;
	font-size: 16px;
	color: #003333;
}
	
.text {
	width: 91%;
	padding-top: -8px;
	margin: 0 auto;
	border-bottom: 1px #333;
	font: 15px "centry", Arial,Helvetica,sans-serif;
	color: #003333;
}
	
.text p {
	margin-top: -4px;
	text-overflow: ellipsis;
}

.clear {
 	clear: both;
}
   
#footer_block {
	margin: 0 auto;
	margin-top: -16px;
	background-position: top center;
	height: 80px;
	width: 905px;
}

#footer_block p {
	color: #a7a7a7;
	font: 12px open_sansregular;
	margin-left: 0px;
	padding-top: 42px;
	text-transform: uppercase;
	text-shadow: 0px 3px 3px rgba(60, 107, 65, 1);
}