<iframe width="500" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.ua/?hl=ru&amp;ie=UTF8&amp;ll=48.606071,22.265382&amp;spn=0.005867,0.013937&amp;t=m&amp;z=17&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com.ua/?hl=ru&amp;ie=UTF8&amp;ll=48.606071,22.265382&amp;spn=0.005867,0.013937&amp;t=m&amp;z=17&amp;source=embed" style="color:#0000FF;text-align:left"></a></small>

<br>Адреса: 88000, Україна, Закарпатська обл., м. Ужгород, пл. Народна, 3 <br>

Телефон: +38 (03122) 3-33-41 Факс: +38 (03122) 3-42-02 <br>

E-mail: official@uzhnu.edu.ua

