<% if session[:id] !=nil %>   
    <% if @user.department == "Деканат"%>
		<p><%= link_to "Додати оголошення/новину", newpost_path %></p>
		<p><%= link_to "Додати файл", newfile_path %></p>
	<% end %>
<% end %>



<div class="container">
  <ul class="tabs">
    <li><a href="#tab1">Новини</a></li>
    <li><a href="#tab2">Файли</a></li>
  </ul>
  <div class="tab_container">
    <div id="tab1" class="tab_content">

     <%= render 'posts/post'%>
    </div>
    <div id="tab2" class="tab_content">
<%= render 'deanery_files/deanery_file'%>
    </div>

  </div>
</div>