
</script>
<div class="container">
  <ul class="tabs">
    <li><a href="#tab1">Новини</a></li>
    <li><a href="#tab2">Викладачі</a></li>
    <li><a href="#tab3">Предмети</a></li>
  </ul>
  <div class="tab_container">
    <div id="tab1" class="tab_content">

    <p> 
    <% if session[:id] !=nil %>  
      <% if @user.department == "ІУСТ"%>
  			<%= link_to "Create New Post", newpost_path%>
      <%end%>
		<%end%>
		<%= render 'posts/post'%></br>
		</p>
    </div>
    <div id="tab2" class="tab_content">
      <b>на постійній основі:</b>

    <p>д.т.н., проф. Василенко Ю.А.</p>
    <p>к.т.н., доц. Міца О.В.</p>
    <p>к.т.н., доц. Левчук О.М.</p>
    <p>к.т.н., доц. Лях І.М.</p>
    <p>к.т.н., ст.викл. Коцовський В.М.</p>
    <p>к.фіз.-мат.н., доц. Поляк С.С.</p>
    <p>к.фіз.-мат.н., ст.викл. Хропін Г.Ю.</p>
    <p>старший викладач Копча-Горячкіна Г.Е.</p>
    <b>за сумісництвом:</b>

    <p>д.фіз.-мат.н., проф. Завілопуло А.М.</p>
    <p>д.фіз.-мат.н., проф. Кельман В.А.</p>
    <p>д.фіз.-мат.н., проф. Маслюк В.Т.</p>
    <p>д.фіз.-мат.н., проф. Стецюк П.І.</p>
    <p>к.фіз.-мат.н., доц. Гуранич П.П.</p>
    <p>к.фіз.-мат.н., доц. Біланич В.С.</p>
    <p>асистент Поліщук В.В.</p>
    </div>
    <div id="tab3" class="tab_content">

      <p>Автоматизовані системи управлінських організацій</p>
      <p>Архітектура комп'ютерів</p>
      <p>Виробнича практика</p>
      <p>Дослідницька практика</p>
      <p>Елементи і схеми комп'ютерних систем</p>
      <p>ЕОМ і мікропроцесорні системи</p>
      <p>Забезпечення надійності функціонування комп'ютерних систем</p>
      <p>Інформаційні розпізнаючі системи</p>
      <p>Комп‘ютерні мережі</p>
      <p>Комп‘ютерні системи та мережі: програмна підтримка</p>
      <p>Компоненти технічних засобів комп'ютерних систем</p>
      <p>Математичне прогнозування</p>
      <p>Мережі і потоки</p>
      <p>Мережні інформаційні технології</p>
      <p>Методи розпізнавання образів та їх використання в різних галузях господарства</p>
      <p>Мікроконтролерні та робототехнічні системи</p>
      <p>Організація інформаційно-обчислювальних процесів та систем</p>
      <p>Основи автоматизованого проектування та систем інтеграції комп'ютерних інформаційних технологій</p>
      <p>Основи вимірювальної техніки, планування та автоматизація експерименту</p>
      <p>Основи дискретної математики</p>
      <p>Основи сінергетики</p>
      <p>Переддипломна практика</p>
      <p>Провідні та безпровідні мережі доступу</p>
      <p>Проектування АСУ неперервними технологічними процесами</p>
      <p>Проектування ІР-мереж</p>
      <p>Системи штучного інтелекту</p>
      <p>Системний аналіз та проектування комп'ютерних інформаційних технологій</p>
      <p>Системний аналіз та проектування систем обробки інформації</p>
      <p>Спеціальні питання математичної логіки</p>
      <p>Спеціальні питання програмування мікроконтролерів</p>
      <p>Способи і засоби передачі інформації в комп'ютерних системах</p>
      <p>Сучасна теорія управління</p>
      <p>Сучасні методи розв'язування задач дискретного програмування</p>
      <p>Теорія алгоритмів і математичні основи представлення знань</p>
      <p>Теорія розпізнавання образів</p>
      <p>Теорія розпізнавання образів та класифікації в системах штучного інтелекту</p>
      <p>Технологія створення інтерфейсу користувача</p>
      <p>Широкомовні та швидкісні мережі</p>
    </div>
  </div>
</div>


