
</script>
<div class="container">
  <ul class="tabs">
    <li><a href="#tab1">Новини</a></li>
    <li><a href="#tab2">Викладачі</a></li>
    <li><a href="#tab3">Предмети</a></li>
  </ul>
  <div class="tab_container">
    <div id="tab1" class="tab_content">

      <p> 
      	<% if session[:id] !=nil %>  
      		<% if @user.department == "ПЗС"%>
  				<%= link_to "Create New Post", newpost_path%>
  			<%end%>
		<%end%>
		<%= render 'posts/post'%></br>
		</p>
    </div>
    <div id="tab2" class="tab_content">
    	<p>д.т.н., проф. Ващук Ф.Г.</p>
		<p>к.т.н., доц. Повхан І.Ф.</p>
		<p>к.т.н., доц. Нелюбов В.О.</p>
		<p>к.т.н., доц. Мельник О.О.</p>
		<p>к.фіз.-мат.н., доц. Дробнич О.В.</p>
		<p>ст.викл. Дробнич М.П.</p>
		<p>асистент Волсбергер В.В.</p>
    </div>
    <div id="tab3" class="tab_content">
    <p>WEB – дизайн</p>
	<p>Адміністрування комп'ютерних мереж і операційних систем</p>
	<p>Графічне та геометричне моделювання та інтерактивні системи</p>
	<p>Емпіричні методи програмної інженерії</p>
	<p>Засоби і процеси підтримки безпеки розподілених систем</p>
	<p>Захист інформації та програмних продуктів</p>
	<p>Конструювання програмного забезпечення</p>
	<p>Менеджмент проектів програмного забезпечення</p>
	<p>Методи та засоби комп'ютерних інформаційних технологій</p>
	<p>Моделювання і прогнозування бізнес-процесів</p>
	<p>Моделювання програмного забезпечення</p>
	<p>Моделювання систем</p>
	<p>Нейронні системи</p>
	<p>Об‘єктно-орієнтоване програмування</p>
	<p>Організація баз даних і знань</p>
	<p>Основи програмування на мові Асемблер</p>
	<p>Основи програмування та алгоритмічні мови</p>
	<p>Програмування в системах абстрактних об'єктів, проектування систем штучного інтелекту</p>
	<p>Проектування автоматизованих систем в управлінському та фінансовому обліку</p>
	<p>Процеси та системи підтримки якості програмних систем</p>
	<p>Розробка Internet клієнт-серверних систем</p>
	<p>Розробка програмного забезпечення для офісних систем</p>
	<p>Серверні операційні системи</p>
	<p>Системи електронної комерції</p>
	<p>Системне програмування та операційні системи</p>
	<p>Сучасні інформаційні системи і технології</p>
	<p>Сучасні системи програмування БД</p>
	<p>Сучасні технології програмування</p>
	<p>Теоретичні основи лексичного та синтаксичного аналізу</p>
	<p>Технологія програмування та створення програмних продуктів</p>
	<p>Якість програмного забезпечення та тестування</p>
    </div>
  </div>
</div>


