
</script>
<div class="container">
  <ul class="tabs">
    <li><a href="#tab1">Новини</a></li>
    <li><a href="#tab2">Викладачі</a></li>
    <li><a href="#tab3">Предмети</a></li>
  </ul>
  <div class="tab_container">
    <div id="tab1" class="tab_content">

      <p> 
      	<% if session[:id] !=nil %>  
      		<% if @user.department == "ЗІММ"%>
  				<%= link_to "Create New Post", newpost_path%>
  			<% end %>
		<%end%>
		<%= render 'posts/post'%></br>
		</p>
    </div>
    <div id="tab2" class="tab_content">
      <b>Станом на 31.08.2013 року кафедра налічує 17 науково-педагогічних працівників, в тому числі 5 штатних співробітників:</b>

	<p>Лавер Олександр Георгійович – кандидат фізико-математичних наук, доцент, професор кафедри</p>
	<p>Гончарова Світлана Федорівна – кандидат фізико-математичних наук, доцент кафедри</p>
	<p>Білак Юрій Юрійович – кандидат фізико-математичних наук, доцент кафедри</p>
	<p>Матяшовська Беата Олександрівна – старший викладач кафедри</p>
	<p>Шумило Наталія Ярославівна – старший викладач кафедри</p>
	<b>За сумісництвом:</b>

	<p>Стацюк Петро Іванович – д. фіз.-мат. наук, професор</p>
	<p>Міца Володимир Михайлович – д. фіз.-мат. наук, професор</p>
	<p>Гедеон Віктор Федорович – кандидат фізико-математичних наук, доцент кафедри</p>
	<p>Кишко Каріна Миколаївна – кандидат біологічних наук, доцент</p>
	<p>Агій Ярослав Юрійович - кандидат економічних наук, доцент</p>
	<p>Кузка Олександр Іванович – кандидат фіз.-мат. наук, доцент</p>
	<p>Кляп Маріанна Іванівна – кандидат педагогічних наук, доцент</p>
	<p>Кельман Володимир Андрійович  – доктор фіз.-мат. наук, професор</p>
	<p>Попович Наталія Іванівна  – ст. наук. співробітник</p>

	<b>Педагогічне навантаження на кафедрі інформатики та фізико-математичних дисциплін мають також викладачі інших кафедр факультету інформаційних технологій:</b>

	<p>Василенко Юрій Андрійович  – доктор технічних наук, професор</p>
	<p>Лях Ігор Михайлович  – к.т.н., доцент</p>
	<p>Коцовський Владислав Миронович  – к. т.н., доцент</p>
    </div>
    <div id="tab3" class="tab_content">
    	<p>Безпека життєдіяльності</p>
		<p>Безпека життєдіяльності та основи охорони праці</p>
		<p>Безпека життєдіяльності (безпека життєдіяльності, основи охорони праці)</p>
		<p>Безпека життєдіяльності та охорона праці</p>
		<p>Вища математика</p>
		<p>Вища та прикладна математика</p>
		<p>Глобальні лінгвістичні мережі: створення рекламних WEB-сторінок та лінгвістичних сайтів</p>
		<p>Економетрика</p>
		<p>Інженерна і комп’ютерна техніка</p>
		<p>Інформатика</p>
		<p>Інформатика та комп’ютерна техніка</p>
		<p>Інформаційні системи та технології</p>
		<p>Комп’ютерні редактори</p>
		<p>Комп’ютерні системи обробки мультимедійної інформації</p>
		<p>Лінгвістичні аспекти математичної статистики та теорії ймовірності</p>
		<p>Математика в економіці</p>
		<p>Математична статистика</p>
		<p>Математичне прогнозування</p>
		<p>Математичні методи в психології</p>
		<p>Математичні методи дослідження операцій</p>
		<p>Математичні методи у мовознавстві</p>
		<p>Методика викладання інформатики</p>
		<p>Оптимізаційні методи і моделі</p>
		<p>Основи вищої математики</p>
		<p>Основи електротехніки та електроніки</p>
		<p>Основи завадостійкості в системах захисту інформації</p>
		<p>Основи інформатики та застосування ЕОМ у психології</p>
		<p>Основи інформатики та обчислювальної техніки</p>
		<p>Основи комп’ютерної техніки та інформатики</p>
		<p>Основи складання лінгвістичних програм</p>
		<p>Основи охорони праці</p>
		<p>Охорона праці в галузі</p>
		<p>Охорона праці</p>
		<p>Охорона праці в галузі та цивільний захист</p>
		<p>Системи автоматизованого перекладу</p>
		<p>Теорія статистики</p>
		<p>Теорія ймовірностей, імовірнісні процеси і математична статистика</p>
		<p>Теорія прийняття рішень</p>
		<p>Фізика</p>
		<p>Функціональний та опуклий аналіз</p>
		<p>Чисельні методи в інформатиці</p>
		<b>Перелік практик закріплених за кафедрою:</b>
		<p>Педагогічна практика.</p>
		<p>Практика з ЕОМ.</p>
		<p>Ознайомча комп’ютерна практика</p>
		<p>Комп’ютерно-лінгвістична практика</p>
    </div>
  </div>
</div>


