/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@import "bootstrap";

/* ----------------- */
* {
    margin:0;
    padding:0;
}

body {
    display: block;
    z-index: 0;
    margin:0;
    padding:0;
}

div, p, ul, h2, img,li {
    margin:0;
    padding:0;
}

ul {list-style-type:none;}

html, body {
    height:100%;
    margin: 0;
    padding: 0;
    text-align: center;
}



.container {
    width: 905px;
    margin: 0 auto;
    bottom: 0;
    min-height: 480px;
    height: 922px;
    top: 0;
    position: relative;
    text-align: left;
    z-index: 2;
}

#header {
    background: url("_bg_01.jpg") 0 0 repeat-x #f3f5f4;
    z-index: 10;
    font:14px/18px Arial,Helvetica,sans-serif;
    position: relative; 
    width: 100%;
    height: 133px;
    border-bottom: 8px solid #003030;
    box-shadow: -2px 11px 48px -9px black;
}

.breite li {
    width: 113.1px;
}

.room li {
    width: 118%;
}

@font-face {
    font-family: "mooter";
    src: url("/mooter.eot");
    src: url("/mooter.eot?#iefix") format("embedded-opentype"),
    url("/mooter.woff") format("woff"),
    url("/mooter.ttf") format("truetype"),
    url("/mooter.svg#JournalRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "centry";
    src: url("/centry.eot");
    src: url("/centry.eot?#iefix") format("embedded-opentype"),
    url("/centry.woff") format("woff"),
    url("/centry.ttf") format("truetype"),
    url("/centry.svg#JournalRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}

#menu {
    display: table;
    width: 100%;
    height: 29px;
}

#nav {
    width: 905px; 
    margin:0 auto; 
    list-style: none;
    z-index: 4;
    text-align: center;
}

#nav li {
    float:left;
    position:relative; 
    display: block;
}

#nav li a {
    display:block;
    text-decoration:none;
    color: #031d1d;
    padding: 4px 0px 4px 1px;
    text-align: center;
    text-transform: lowercase;
    font: 18px  Arial Narrow, Arial,Helvetica,sans-serif;
    font-weight: bold; 
    background: #D2D4B0;
}

#nav li a:hover {
    background: #5d776f;  
    color: #DCE9E2;
} 

#nav ul {
    list-style:none;
    position:absolute;
    left:-9999px; 
    opacity:0;
    -webkit-transition:0.25s linear opacity;
    z-index: 200;
}

#nav ul li {
    padding-top:1px; 
    float:none;
}

#nav li:hover ul { 
    left:0; 
    opacity:1;
}

.main {
    width: 100%px;  
    padding:0;
    margin:0 auto;
    font-size: 16px;
    line-height:25px;
} 

nav {
    display: block;
}

#nav ul a {
    white-space: nowrap;
    display: block;
}

.header_center {
    width: 905px;
    margin: 0 auto;
}

.g1 {
    width: 200px;
    float: left;
    height: 130px;
    text-align: center; 
    padding-left: 43px;
    color: #031d1d;
    font-family: "mooter";
    font-size: 66px;
}

.g1 a {
    width: 96px;
    height: 58px;
    text-align: center;
    padding-top: 55px;
    padding-left: 55px;
    color: #031d1d;
    font-family: "mooter";
    font-size: 66px;
    background: url("embl.jpg") no-repeat;
    background-position: 1px 29px;
}

.g2 {
    width: 632px;
    height: 65px;float: left;
    padding-top: 59px;
    text-align: center;
    font: 34px Arial Narrow, Arial,Helvetica,sans-serif;
    color: #031d1d;
}

#nav ul {
    list-style: none;
    position: absolute;
    left: -9999px;
    opacity: 0;
    -webkit-transition: 0.25s linear opacity;
    z-index: 200;
}

#nav ul li {
    padding-top: 1px;
    padding-left: 27px;
    float: none;
}

#nav li:hover ul a { 
    background:#dcded3;
    text-decoration:none;
    -webkit-transition:-webkit-transform 0.075s linear;
}

#nav li:hover ul li a:hover { 
    background:#333;
    background: rgba(188, 192, 185, 0.75);
    text-decoration:underline;
    -moz-transform:scale(1.05);
    -webkit-transform: scale(1.05);
}

#board img {
    margin-bottom: 18px;
    width: 905px;
    height: 405px;
}

#us {
    margin: 0 auto;
    width: 100%;
}


#block_a.fon {
    background: #dfdfd4 url("_bg_01.jpg") repeat-x top;
    background-image: lightpink;
    width: 536px;
    height: 499px;
    min-height: 363px;
    float: left;
    margin-right: 15px;
    display: block;
    word-break: break-all;
    clear: both;
    overflow: hidden;
}

h1 a {
    display: block;
    text-decoration: none;
    color: #fefefe;
    padding: 2px 20px 8px;
    font: 18px Arial Narrow, Arial,Helvetica,sans-serif;
    margin-bottom: -18px;
}

#block_b.fon {
    width: 354px;
    height: 498px;
    float: left;
    background: #dfdfd4 url("_bg_01.jpg") repeat-x top;
}

#footer {
    width: 100%;
    height: 96px;
    margin-top: 38px;
    position: relative;
    background: url("footer_min.jpg") repeat-x;
}

#am {
    float: right; 
    width: 40%;
}

h2 {
    display: block;
    width: 123px;
    font-family:  Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: normal;
    height: 31px;
    margin-top: 44px;
}

h2 span {
    margin-bottom: 1px;
    display: block;
    border: 1px #555;
    clear:both;
}

h3 span {
    display: block;
    float: right;
    margin-top: 10px;
    margin-right: 28px;
    font-style: italic;
    font-family:    "centry", Arial,Helvetica,sans-serif;
    font-size: 16px;
    color: #003333;
}

.text {
    width: 91%;
    padding-top: -8px;
    margin: 0 auto;
    border-bottom: 1px #333;
    font: 15px "centry", Arial,Helvetica,sans-serif;
    color: #003333;
}

.text p {
    margin-top: -4px;
    text-overflow: ellipsis;
}

.clear {
    clear: both;
}

#footer_block {
    margin: 0 auto;
    margin-top: -16px;
    background-position: top center;
    height: 80px;
    width: 905px;
}

#footer_block p {
    color: #a7a7a7;
    font: 12px open_sansregular;
    margin-left: 0px;
    padding-top: 42px;
    text-transform: uppercase;
    text-shadow: 0px 3px 3px rgba(60, 107, 65, 1);
}

/* ------------------ */
/* Flash messages */

.alert-info, .alert-success, .alert-danger, .alert-warning {
	padding: 5px;
	max-width: 600px;
	margin: 5px auto;
}

.alert-info {
	background-color: #d9edf7;
	border: 1px solid #bce8f1;
	color: #31708f;
}

.alert-success {
	background-color: #dff0d8;
	border: 1px solid #d6e9c6;
	color: #3c763d;
}

.alert-danger {
	background-color: #f2dede;
	border: 1px solid #ebccd1;
	color: #a94442;
}

.alert-warning {
	background-color: #fcf8e3;
	border: 1px solid #faebcc;
	color: #8a6d3b;
}


/*deanery*/
div.wrapper {
	width:100%;
	height:100%;
}
div.deanery_news_block {
	float:left;
	width:70%;

	 background: #fc0;
}
div.deanery_files_block {
	float:right;
	width:30%;
	 background: #ff5;
}

.container {width: 500px; margin: 10px auto;}
ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    width: 100%;
}
ul.tabs li {
     
    float: left;
    margin: 0;
    padding: 0;
    height: 31px;
    line-height: 31px;
    border: 1px solid #999;
    border-left: none;
    margin-bottom: -1px;
    background: #F0F0F0;
    overflow: hidden;
    position: relative;
}
ul.tabs li a {
    text-decoration: none;
    color: #000;
    display: block;
    font-size: 1.2em;
    padding: 0 20px;
    border: 1px solid #fff;
    outline: none;
}
ul.tabs li a:hover {
    background: #ccc;
}   
html ul.tabs li.active, html ul.tabs li.active a:hover  {
    background: #fff;
    border-bottom: 1px solid #fff;
}
.tab_container {
    border: 1px solid #999;
    border-top: none;
    clear: both;
    float: left; 
    width: 100%;
    background: #fff;
    -moz-border-radius-bottomright: 5px;
    -khtml-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -khtml-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
}
.tab_content {
    padding: 20px;
    font-size: 1.2em;
}
.tab_content h2 {
    font-weight: normal;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ddd;
    font-size: 1.8em;
}
.tab_content h3 a{
    color: #254588;
}
.tab_content img {
    float: left;
    margin: 0 20px 20px 0;
    border: 1px solid #ddd;
    padding: 5px;
}

#sign-in-buttons {
	position: absolute;
	top: 25px;
	right: 10px;

}

.container {width: 500px; margin: 10px auto;}
ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    width: 100%;
}
ul.tabs li {
     
    float: left;
    margin: 0;
    padding: 0;
    height: 31px;
    line-height: 31px;
    border: 1px solid #999;
    border-left: none;
    margin-bottom: -1px;
    background: #F0F0F0;
    overflow: hidden;
    position: relative;
}
ul.tabs li a {
    text-decoration: none;
    color: #000;
    display: block;
    font-size: 1.2em;
    padding: 0 20px;
    border: 1px solid #fff;
    outline: none;
}
ul.tabs li a:hover {
    background: #ccc;
}   
html ul.tabs li.active, html ul.tabs li.active a:hover  {
    background: #fff;
    border-bottom: 1px solid #fff;
}
.tab_container {
    border: 1px solid #999;
    border-top: none;
    clear: both;
    float: left; 
    width: 100%;
    background: #fff;
    -moz-border-radius-bottomright: 5px;
    -khtml-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -khtml-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
}
.tab_content {
    padding: 20px;
    font-size: 1.2em;
}
.tab_content h2 {
    font-weight: normal;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ddd;
    font-size: 1.8em;
}
.tab_content h3 a{
    color: #254588;
}
.tab_content img {
    float: left;
    margin: 0 20px 20px 0;
    border: 1px solid #ddd;
    padding: 5px;
}