BODY {
  background: url(img01.jpg) repeat-x left top;
  text-align: justify;
  font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: white;
}
H1 {
  font-family: Arial, sans-serif;
  font-size: 120%;
  text-decoration: underline;
}
#header{
  height:145px;
}
#menu{
  height:30px;
}
.m{
  border-left: dotted;
  border-right: dotted;
  width:30%;
  float:left;
  text-align:center;
}
#content{
  color:black;
}
.mc{
  padding: 40px 10px;
  width:10%;
  height:400px;
  float:left; 
  margin-left: 15px;    
}
.mleft{
  border: 2px solid black;
  background:#a1a1a1;
  width: 100px;
  margin-top:5px;
  text-align:center;
  border-radius: 50px 0 0 50px;}
.c1{
  padding: 10px 40px;
  width:30%;
  height:400px;
  float:left;
  background-color: #dddddd; 
  margin-left: 15px;
  border: 2px solid #a1a1a1;
  -webkit-border-radius: 20px;
}
#footer{
  height:30px;
  background:black;
  text-align:center;
}

.field_with_errors {
  padding: 2px;
  margin: 2px;
  background-color: red;
  display: inline-table;
  color: white;
}
#error {
  font-size: 12px;
  border: 2px dashed red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#error p {
  padding: 5px 5px 5px 15px;
  margin: -7px;
  background-color: red;
  color: white;
}
#error ul li { 
  list-style: square;
  text-align: left;
}
.error {
  border: 2px solid red;
  -webkit-border-radius: 10px;
  padding: 7px;
  background:#fbe3e4;   
}
.success{
  border: 2px solid green;
  -webkit-border-radius: 10px;
  padding: 7px;
  background:#e6efc2;   
}
.post{
  width:500px;
  padding: 5px;
  margin:5px;
  background-color: #EEE8AA; 
  border: 2px solid #4b0082;
  -webkit-border-radius: 20px; 
}
